// 自己的重置样式代码
*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
  font-size: 12px;
  // &::-webkit-scrollbar{
  //   width: 17px!important;
  // }
}
body{
  height: 100%;
  color: #333;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
  background: #f5f5f5;
}
h1,
h3,
h4,
p,
dl,
dd {
  font-size: 12px;
  padding: 0;
  margin: 0;
  user-select: text;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: 100%;
}
a{
  text-decoration: none;
  color: #333;
  outline: none;
  &:hover{
    text-decoration: underline;
  }
}
em,
i{
  font-style: normal;
  text-align: left;
  font-size: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"]{
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: auto;
  appearance: auto;
  &::placeholder{
    color: #ccc;
  }
}
input[type="password"]::-ms-reveal{
  display:none;
}
[hidefocus]{
  outline: none;
}
img{
  vertical-align: middle;
}
img, .txt{
  border: 0;
}
ul{
  list-style: none;
}
li {
  list-style: none;
}
#app{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // user-select: none;
}
.container{
  width: 980px;
  min-width: 980px;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
  zoom: 1;
}
.pa {
  position: absolute;
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.f-hide{
  display: none!important;
}
.f-thide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.f-brk{
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.f-ib{
  display: inline-block;
}
// 字体样式和颜色
.s-fc0{
  color: #000;
}
.s-fc3{
  color: #666;
}
.s-fc4{
  color: #999;
}
.s-fc6{
  color: #c20c0c;
}
.s-fc7{
  color: #0c73c2;
}
.s-fc8{
  color: #aeaeae;
}
.s-fc9{
  color: #bb2128;
}
.s-fc10{
  color: #d33a31;
}
.f-ff1{
  font-family: simsun,\5b8b\4f53;
}
.f-ff2{
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.f-fs1{
  font-size: 14px;
}
.f-fs2{
  font-size: 16px;
}
.f-fw0{
  font-weight: normal;
}
.f-tdu{
  text-decoration: underline;
  &:hover{
    text-decoration: underline;
  }
}
// 内容
.g-wrap{
  padding: 40px;
}
.g-wrap6{
  padding: 47px 30px 40px 39px;
}
.g-wrap7{
  padding: 20px 40px 40px 30px;
}
.g-wrap8{
  padding: 20px 30px;
}
.g-wrap12{
  padding: 0 30px 40px 40px;
}
.g-mn3{
  height: 100%;
  float: right;
  width: 740px;
  padding-bottom: 50px;
}
.g-mn4{
  float: left;
  width: 709px;
}
.g-mn5{
  float: left;
  width: 680px;
}
.g-mn6{
  float: left;
  width: 100%;
}
.g-sd3{
  float: left;
  width: 240px;
  position: fixed;

}
.g-sd3-1{
  position: static;
}
.g-sd4{
  position: relative;
  float: right;
  width: 270px;
}
.g-sd5{
  position: relative;
  float: right;
  width: 296px;
  padding: 0 1px;
}
.g-mymusic{
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  zoom: 1;
}
.n-pglg, .n-pglg .btn{
  background: url('@/assets/icons/mymusic.png') no-repeat 0 9999px;
}
.n-pglg{
  width: 807px;
  height: 268px;
  margin: 0 auto 0;
  padding-top: 104px;
  background-position: 0 104px;
  h2{
    height: 100px;
    text-indent: -9999px;
  }
  .btn{
    display: block;
    width: 167px;
    height: 45px;
    margin: 102px 0 0 482px;
    background-position: 0 9999px;
    text-indent: -9999px;
    &:hover{
      background-position: 0 -278px;
    }
  }
}
.n-pglg2, .n-pglg2 .btn{
  background: url('@/assets/icons/notlogin.jpg') no-repeat center 0;
}
.n-pglg2{
  width: 902px;
  height: 414px;
  margin: 0 auto 0;
  padding-top: 70px;
  background-position: 0 70px;
  .welc{
    padding: 178px 0 0 535px;
    line-height: 23px;
  }
  .btn{
    display: block;
    width: 157px;
    height: 48px;
    margin: 36px 0 0 535px;
    background-position: 0 9999px;
    text-indent: -9999px;
    &:hover{
      background-position: 0 -430px;
    }
  }
}
.u-hd3{
  position: relative;
  height: 23px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
}
.f-mgt40{
  margin-top: 40px;
}
// 版心和背景
.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7{
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
}
.g-bd1{
  background: url('@/assets/icons/wrap1.png') repeat-y 100% 100%;
}
.g-bd3{
  background: url('@/assets/icons/wrap3.png') repeat-y center 0;
}
.g-bd4{
  background: url('@/assets/icons/wrap4.png') repeat-y center 0;
}
.g-bd5{
  background: url('@/assets/icons/wrap5.png') repeat-y center 0;
}
.u-slg, .u-slg2, .u-slg3, .u-blg, .u-mlg, .u-mlg2, .u-errlg{
  background: url('@/assets/icons/logo.png') no-repeat 0 9999px;
}
.m-back, .m-lycifo .downapp, .m-plshare .btn, .m-pubcode .code, .m-multi .bg, .m-multi .bg a:hover{
  background: url('@/assets/icons/sprite.png') no-repeat 0 9999px;
}
.u-slg, .u-slg2, .u-slg3, .u-blg, .u-mlg, .u-mlg2, .u-importlg, .u-errlg{
  display: inline-block;
  vertical-align: middle;
}
.m-top .logo,.m-top .cor,.m-tophead,.m-topvd,.m-srch .srchbg{
  background: url('@/assets/icons/topbar.png') no-repeat 0 9999px;
}
.m-top .logo, .m-nav .cor, .m-nav .hot, .m-srch .srchbg, .m-mail, .m-tophead, .m-topvd{
  background: url('@/assets/icons/topbar.png') no-repeat 0 9999px;
}
.u-icn,.u-title-1 .out .icon{
  background: url('@/assets/icons/icon.png') no-repeat 0 9999px;
}
.u-icn2{
  background: url('@/assets/icons/icon2.png') no-repeat 0 9999px;
}
.n-ban .download, .n-ban .download .btn{
  background: url('@/assets/icons/download.png') no-repeat 0 0;
}
.n-ban .shadow, .n-ban .shadowr, .n-ban .ban .btnl, .n-ban .ban .btnr, .n-ban .dots .pg{
  background: url('@/assets/icons/download_shadow.png') no-repeat 0 9999px;
}
.s-bg, .v-hd2, .n-disk li{
  background: url('@/assets/icons/index.png') no-repeat 0 9999px;
}
.u-cover .ply, .u-cover .icon-headset, .u-cover .icon-play, .u-face .msk, .n-note .head .msk, .icn-vip, .icn-daren, .u-checkbox{
  background: url('@/assets/icons/iconall.png') no-repeat;
}
.u-cover .bottom, .u-cover .msk, .n-musicsd .lst .avatar .msk{
  background: url('@/assets/icons/coverall.png') no-repeat;
}
.n-bilst{
  background: url('@/assets/icons/index_bill.png') no-repeat;
}
.u-btn, div.u-page a, div.u-page a.js-selected, div.u-page a.znxt.js-disabled, div.u-page a.zprv.js-disabled{
  background: url('@/assets/icons/button.png') no-repeat 0 9999px;
}
.u-btn2, .u-btn2 i, .u-btn2 .icn, .u-btni, .u-btni i, .u-tag, .u-tag i, .u-btni-addply .ply{
  background: url('@/assets/icons/button2.png') no-repeat 0 9999px;
}
.u-date, .u-date .mask{
  background: url('@/assets/icons/date.png') no-repeat 0 9999px;
}
.m-tlist .icn, .m-tlist .arr{
  background: url('@/assets/icons/toplist.png') no-repeat 0 9999px;
}
.m-table th, .m-table th .wp, .m-table td, .m-table .ply, .m-table .mv, .m-table .icn, .m-info .edit{
  background: url('@/assets/icons/table.png') no-repeat 0 9999px;
}
.n-sltlyr .hd, .n-sltlyr .bd, .n-sltlyr .ft{
  background: url('@/assets/icons/sltlyr.png') no-repeat;
}
.n-sltlyr .icn, .n-mvlist .mvpic .btn, .n-artist .btn-rz, .n-artist .btnfav{
  background: url('@/assets/icons/iconall.png') no-repeat;
}
.u-dicn, .u-dtag, .u-dtag .rt{
  background: url('@/assets/icons/frd_dyn_sprite.png') 0 9999px no-repeat;
}
.u-load .icn{
  background: url('@/assets/icons/pic_loading.gif') no-repeat;
}
.n-frduser{
  position: relative;
  height: 193px;
  background: url('@/assets/icons/frduser.png') repeat-x 0 0;
}
.n-lv .h3 em, .n-lv .divnum li.z-on, .n-pow .telist li, .n-level i, .n-level-big i{
  background: url('@/assets/icons/mylevel.png') no-repeat 0 9999px;
}
.m-record .ply, .m-record span.icn{
  background: url('@/assets/icons/table.png') no-repeat 0 9999px;
}
.u-msk{
  background: url('@/assets/icons/mask.png') no-repeat 0 9999px;
}
.m-playbar .updn .left, .m-playbar .updn .right, .m-playbar .updn .btn, .m-playbar .bg, .m-playbar .btns a, .m-playbar .head .mask, .m-playbar .icn, .m-playbar .ctrl, .m-playbar .tip, .m-vol .curr, .m-playbar .words .mv, .m-vol .barbg, .m-playbar .words .src{
  background: url('@/assets/icons/playbar.png') no-repeat 0 9999px;
}
.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy, .m-pbar .left{
  background: url('@/assets/icons/statbar.png') no-repeat 0 9999px;
}
.m-pbar .btn, .m-vol .btn{
  background: url('@/assets/icons/iconall.png') no-repeat;
}
.m-playbar .listhd, .m-playbar .listbd{
  background: url('@/assets/icons/playlist_bg.png') no-repeat;
}
.m-playbar .list .close, .m-playbar .playicn, .m-playbar .ico{
  background: url('@/assets/icons/playlist.png') no-repeat 0 9999px;
}
// a标签的取消下划线
.u-btn2,.u-btn2:hover{
  text-decoration: none;
}
//---------------------
// 歌单的功能区域按钮
.u-btni, .u-btni i{
  float: left;
  height: 31px;
  line-height: 30px;
  min-width: 23px;
  cursor: pointer;
}
.u-btni{
  padding: 0 5px 0 0;
  white-space: nowrap;
  color: #333;
  i{
    padding: 0 7px 0 36px;
  }
}
.u-btni, .u-btni:hover{
  color: #333;
  text-decoration: none;
}
.u-btn2{
  padding: 0 5px 0 0;
  white-space: nowrap;
  i{
    padding: 0 15px 0 20px;
  }
}
.u-btn2, .u-btn2 i{
  display: inline-block;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}
// 正常样式
.m-info{
  .btns{
    margin-bottom: 25px;
    margin-right: -10px;
    .u-btni-add{
      margin-right: 5px;
    }
  }
  .btns2 .u-btni,.btns .u-btni{
    margin-right: 6px;
    font-family: simsun,\5b8b\4f53;
  }
}
.u-btni-share, .u-btni-fav, .u-btni-cmmt, .u-btni-dl{
  background-position: right -1020px;
  &:hover{
    background-position: right -1106px;
  }
  i{
    padding-right: 2px;
    padding-left: 28px;
  }
}
.u-btni-share{
  &:hover i{
    background-position: 0 -1268px;
  }
  i{
    background-position: 0 -1225px;
  }
}
.u-btni-fav{
  &:hover i{
    background-position: 0 -1063px;
  }
  i{
    background-position: 0 -977px;
  }
}
.u-btni-cmmt{
  &:hover i{
    background-position: 0 -1508px;
  }
  i{
    background-position: 0 -1465px;
  }
}
.u-btni-dl{
  &:hover i{
    background-position: 0 -2805px;
  }
  i{
    background-position: 0 -2761px;
  }
}
// 正常的播放和添加
.u-btni-addply{
  float: left;
  i{
    padding: 0 7px 0 8px;
  }
  .ply{
    float: left;
    width: 20px;
    height: 18px;
    margin: 6px 2px 2px 0;
    background-position: 0 -1622px;
    overflow: hidden;
  }
}
.u-btni-add{
  width: 31px;
  margin-left: -3px;
  padding-right: 0;
  background-position: 0 -1588px;
  &:hover{
    background-position: -40px -1588px;
  }
  &:active{
    background-position: -80px -1588px;
  }
}
.u-btn2-2{
  color: #fff;
  background-position: right -428px;
  &:hover{
    background-position: right -510px;
    i{
      background-position: 0 -469px;
    }
    .ply{
      background-position: -28px -1622px;
    }
  }
  &:active{
    color: #fff;
    background-position: right -592px;
    i{
      background-position: 0 -551px;
    }
    .ply{
      background-position: -56px -1622px!important;
    }
  }
  i{
    color: #fff;
    background-position: 0 -387px;
  }
}
// 禁用播放按钮的样式
.u-btni-play-dis, .u-btni-play-dis:hover, .u-btni-play-dis:active{
  color: #bebebe;
  background-position: right -934px;
}
.u-btni-play-dis i, .u-btni-play-dis:hover i, .u-btni-play-dis:active i{
  color: #bebebe;
  background-position: 0 -891px;
}
.u-btni-play-dis, .u-btni-play-dis i, .u-btni-play-dis .time{
  cursor: default;
}
// 禁用其他按钮的样式
.u-btni-fav-dis, .u-btni-fav-dis:hover, .u-btni-fav-dis2, .u-btni-fav-dis2:hover, .u-btni-share-dis, .u-btni-share-dis:hover, .u-btni-cmmt-dis, .u-btni-cmmt-dis:hover, .u-btni-dl-dis, .u-btni-dl-dis:hover{
  cursor: default;
  background-position: right -1192px;
}
.u-btni-fav-dis i, .u-btni-fav-dis:hover i, .u-btni-fav-dis2 i, .u-btni-fav-dis2:hover i, .u-btni-share-dis i, .u-btni-share-dis:hover i, .u-btni-cmmt-dis i, .u-btni-cmmt-dis:hover i, .u-btni-dl-dis i, .u-btni-dl-dis:hover i{
  color: #bebebe;
  background-position: 0 -1149px;
  cursor: default;
}
// 禁用收藏
.u-btni-fav-dis2 i, .u-btni-fav-dis2:hover i{
  background-position: 0 -1354px;
}
// 禁用分享
.u-btni-share-dis i, .u-btni-share-dis:hover i{
  background-position: 0 -1311px;
}
// 禁用下载
.u-btni-dl-dis i, .u-btni-dl-dis:hover i{
  background-position: 0 -3024px;
}
// 禁用评论
.u-btni-cmmt-dis i, .u-btni-cmmt-dis:hover i{
  background-position: 0 -1551px;
}
// 名字后跟的图标
.u-icn-new-wrap{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px 0 0 2px;
  vertical-align: top;
  .u-icn-new{
    width: 15px;
    height: 15px;
    margin-top: -6px;
  }
}
// --------------------
// 没有歌曲列表
.n-nmusic{
  padding: 105px 0 105px 0;
  text-align: center;
  h3{
    padding-bottom: 38px;
    font-size: 18px;
  }
  .u-icn-21{
    margin-right: 17px;
  }
  .u-icn-22{
    margin: 0 9px 0 7px;
  }
}
.u-icn-21{
  width: 64px;
  height: 50px;
  background-position: 0 -347px;
}
.u-icn-22{
  width: 16px;
  height: 14px;
  background-position: 0 -400px;
}
// 我的音乐
.u-btn-crt{
  width: 52px;
  height: 22px;
  background-position: 0 -96px;
  &:hover{
    background-position: -94px -39px;
  }
  i{
    display: inline-block;
    line-height: 22px;
    overflow: hidden;
    padding-left: 20px;
    color: #515151;
    font-size: 12px;
    font-weight: normal;
  }
}
.u-icn-10{
  width: 13px;
  height: 13px;
  background-position: 0 -270px;
  &:hover{
    background-position: -20px -270px;
  }
}
.u-icn-11{
  width: 13px;
  height: 14px;
  background-position: 0 -284px;
  &:hover{
    background-position: -20px -284px;
  }
}
// 我的主页
.u-btn2-1{
  color: #333;
  background-position: right -100px;
  &:hover{
    background-position: right -182px;
    i{
      background-position: 0 -141px;
    }
  }
  &:active{
    background-position: right -264px;
    i{
      background-position: 0 -223px;
    }
  }
  i{
    color: #333;
    background-position: 0 -59px;
  }
}
.vip-level{
  width: 57px;
  height: 36px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin-left: 10px;
}
.u-lev{
  display: inline-block;
  height: 19px;
  overflow: hidden;
  padding-left: 29px;
  line-height: 21px;
  color: #e03a24;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  i{
    float: right;
  }
}
.u-icn2-lev{
  background-position: -135px -190px;
}
.u-icn2-levr{
  width: 9px;
  height: 19px;
  background-position: -191px -190px;
}
.u-icn-01{
  width: 20px;
  height: 20px;
  background-position: -41px -57px;
}
.u-icn-02{
  width: 20px;
  height: 20px;
  background-position: -41px -27px;
}
.u-icn-21{
  width: 64px;
  height: 50px;
  background-position: 0 -347px;
}
// 我的等级页面
.n-iconpoint{
  position: relative;
  margin-left: 10px;
  left: -5px;
  top: -2px;
  z-index: 2;
  a:hover{
    background-position: -20px -50px;
  }
  &:hover div.tip{
    display: block;
  }
  div.tip{
    position: absolute;
    left: -33px;
    top: 30px;
    display: none;
    width: 295px;
    font-size: 12px;
    line-height: 20px;
    background: url('@/assets/icons/top_m.png') 0 0 repeat-y;
    padding: 8px 19px 7px 19px;
    z-index: 2;
    color: #666;
    i.t{
      position: absolute;
      left: 0;
      top: -16px;
      width: 327px;
      height: 16px;
      background: url('@/assets/icons/top_t.png') 0 0 no-repeat;
    }
    i.b{
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 327px;
      height: 12px;
      background: url('@/assets/icons/top_b.png') 0 0 no-repeat;
    }
  }
}
.n-level{
  position: relative;
  zoom: 1;
  margin-left: 25px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  color: #e03a24;
  font-style: italic;
  i{
    position: absolute;
    left: -25px;
    top: 0;
    width: 25px;
    height: 22px;
    background-position: 0 -25px;
  }
}
.u-icn2-5{
  width: 18px;
  height: 18px;
  background-position: 0 -50px;
}
// 加载中
.u-load{
  height: 26px;
  padding: 20px 0;
  text-align: center;
  .icn{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
  }
}
// 关注和新歌发布页面的列表相同样式
.m-dlist{
  position: relative;
  zoom: 1;
  h3,h4{
    font-weight: normal;
  }
  .item{
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid;
  }
  .ficon img,.src .cover img{
    display: block;
    width: 100%;
  }
  .gface{
    position: absolute;
    top: 20px;
    left: 0;
    width: 54px;
  }
  .ficon{
    float: left;
    position: relative;
    zoom: 1;
    width: 45px;
    height: 45px;
  }
  .gcnt{
    position: relative;
    zoom: 1;
    margin-left: 55px;
    padding-top: 4px;
    a:hover{
      text-decoration: underline;
    }
    .type{
      .sep{
        margin-left: 5px;
      }
    }
  }
  .text{
    margin-top: 10px;
    line-height: 24px;
    word-break: break-word;
  }
  .arrow{
    position: absolute;
    top: -3px;
    right: -3px;
    cursor: pointer;
  }
  .src{
    display: block;
    position: relative;
    padding: 10px;
    margin: 4px 0 5px;
    .cover{
      position: relative;
      zoom: 1;
      width: 40px;
      height: 40px;
      float: left;
      img{
        width: 40px;
        height: 40px;
      }
      .ply{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        margin: 0;
        background-position: -100px -70px;
        opacity: 0.8;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
    }
    .cover-alb{
      width: 50px;
    }
    .scnt{
      display: block;
      position: absolute;
      top: 10px;
      left: 60px;
      right: 30px;
      height: 40px;
      line-height: 22px;
      .tit{
        .tag{
          position: relative;
          top: -1px;
          zoom: 1;
        }
      }
    }
    .tag{
      margin-right: 6px;
    }
  }
  .src-alb{
    .scnt{
      left: 70px;
    }
  }
}
.m-dlist .ficon:after, .m-dlist .pics .pic:after, .m-dlist .src .cover:after, .m-dlist .src-mv .mv:after, .m-dlist .activity:after, .m-dlist .hotrecmt .cover:after{
  contain: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .1);
  z-index: 100;
  pointer-events: none;
}
.m-dlist .src, .m-dlist .card, .m-dlist .hotrecmt .bar, .m-dlist .showpic{
  background: #f5f5f5;
}
.u-dicn{
  display: inline-block;
  vertical-align: top;
}
.u-dicn-2{
  width: 19px;
  height: 19px;
  background-position: -15px 0;
  &:hover{
    background-position: -85px 0;
  }
}
.u-dicn-23{
  background-position: right -70px;
}
.u-dtag, .u-dtag .rt{
  position: relative;
  display: inline-block;
  height: 16px;
  font-size: 12px;
}
.u-dtag{
  color: #e03f40;
  padding: 0 2px 0 3px;
  background-position: -110px 0;
  line-height: 16px;
  .rt{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3px;
    background-position: right 0;
  }
}
// 动态页面
.u-dicn{
  display: inline-block;
  vertical-align: top;
}
.u-dicn-38{
  width: 71px;
  height: 24px;
  background-position: 0 -452px;
  &:hover{
    background-position: 0 -480px;
  }
}
// 404页面
.u-errlg{
  width: 270px;
  height: 112px;
}
.u-errlg-404{
  background-position: 0 -405px;
}
// 列表篇相同样式
.m-cvrlst{
  li{
    float: left;
    display: block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1.4;
    a:hover{
      text-decoration: underline;
    }
    p{
      width: 100%;
    }
    .dec{
      margin: 8px 0 3px;
      font-size: 14px;
    }
    .tit{
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
    .nm{
      display: inline-block;
      max-width: 85%;
      vertical-align: middle;
    }
    .u-date:hover{
      text-decoration: none;
    }
  }
  .msk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .icon-play{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
  }
}
.u-cover-alb1 .icon-play, .u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play{
  display: none;
}
.u-cover-alb1:hover .icon-play, .u-cover-alb2:hover .icon-play, .u-cover-alb3:hover .icon-play{
  display: block;
}
// 各种列表标题
.u-title{
  height: 40px;
  border-bottom: 2px solid #c20c0c;
  h3{
    float: left;
    font-size: 24px;
    font-weight: normal;
  }
  .sub{
    float: left;
    margin: 13px 0 0 10px;
  }
  .more{
    float: right;
    margin-top: 14px;
  }
  .tab{
    float: left;
    margin: 12px 0 0 20px;
    a:hover{
      text-decoration: underline;
    }
    .line{
      margin: 0 10px;
      color: #c7c7c7;
    }
  }
  .out{
    margin-right: 20px;
  }
}
.u-title-1{
  height: 33px;
  .sub{
    margin: 9px 0 0 20px;
  }
  .more{
    margin-top: 5px;
  }
  h3{
    font-size: 20px;
    line-height: 28px;
  }
}
// 头部一级导航的相同样式
.m-nav li, .m-nav li span, .m-nav a, .m-nav a em{
  float: left;
  height: 70px;
  font-size: 14px;
}
// 头部二级导航的相同样式
.m-subnav .nav li, .m-subnav .nav a{
  float: left;
  height: 34px;
  text-align: center;
}
// 头部搜索框相同样式
.m-srch, .m-srch .srchbg{
  float: right;
  width: 158px;
  height: 32px;
}
// 底部主要内容盒子
.m-ft{
  width: 980px;
  margin: 0 auto;
}
// .u-icn、.u-icn2、.u-icn3的相同样式
.u-icn, .u-icn2, .u-icn3{
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
// 第一个大icon
.u-icn-6{
  width: 24px;
  height: 24px;
  background-position: 0 -60px;
}
.u-icn-7{
  width: 24px;
  height: 24px;
  background-position: 0 -88px;
}
.u-icn-8{
  width: 24px;
  height: 24px;
  background-position: 0 -117px;
}
.u-icn-9{
  width: 24px;
  height: 24px;
  background-position: 0 -141px;
}
.u-icn-26, .u-icn-27, .u-icn-28, .u-icn-29{
  width: 14px;
  height: 15px;
  background-position: -35px -300px;
}
.u-icn-27{
  background-position: -50px -300px;
}
.u-icn-28{
  background-position: -35px -320px;
}
.u-icn-29{
  background-position: -50px -320px;
}
.u-icn-38{
  width: 8px;
  height: 5px;
  background-position: -70px -543px;
}
.u-icn-53{
  width: 35px;
  height: 15px;
  background-position: -31px -658px;
}
.u-icn-57{
  width: 13px;
  height: 13px;
  background-position: -18px -682px;
}
.u-icn-71{
  width: 23px;
  height: 23px;
  background-position: -20px -735px;
}
.u-icn-72, .u-icn-73, .u-icn-74{
  background-position: -74px -268px;
}
.u-icn-73{
  background-position: -74px -299px;
}
.u-icn-74{
  background-position: -74px -318px;
}
.u-icn-75{
  width: 16px;
  height: 17px;
  background-position: -67px -283px;
}
.u-icn-81{
  width: 13px;
  height: 13px;
  background-position: 0 -700px;
  &:hover{
    background-position: -22px -700px;
  }
}
.u-icn-95{
  width: 16px;
  height: 16px;
  background-position: -34px -863px;
}
// 第二个大icon
.u-jp{
  position: absolute;
  top: 0;
  left: 0;
}
.u-icn2-jp3{
  width: 40px;
  height: 40px;
  background-position: -135px -220px;
}
.u-icn2-jp4{
  width: 25px;
  height: 25px;
  background-position: -80px -275px;
}
.u-icn-lv{
  background-position: -130px -64px;
}
.u-icn-lvright{
  width: 8px;
  height: 17px;
  background-position: -192px -64px;
}
// 轮播图
.s-bg-1{
  background-position: 0 0;
}
.s-bg-2{
  background-position: 0 -195px;
  &:hover{
    background-position: -110px -195px;
  }
}
.s-bg-5{
  background-position: 0 -270px;
}
.s-bg-6{
  background-position: 0 -240px;
}
.s-bg-7{
  background-position: -260px -75px;
  &:hover{
    background-position: -280px -75px;
  }
}
.s-bg-8{
  background-position: -300px -75px;
  &:hover{
    background-position: -320px -75px;
  }
}
.s-bg-9{
  background-position: -267px -205px;
  &:hover{
    background-position: -267px -235px;
  }
}
.s-bg-10{
  background-position: -300px -205px;
  &:hover{
    background-position: -300px -235px;
  }
}
.s-bg-11{
  background-position: -267px -268px;
  &:hover{
    background-position: -267px -288px;
  }
}
.s-bg-12{
  background-position: -297px -268px;
  &:hover{
    background-position: -297px -288px;
  }
}
.s-bg-13{
  background-position: 0 -130px;
  color: #666;
  &:hover{
    background-position: -70px -130px;
    color: #333;
  }
}
// 所有的遮罩层
.u-cover .msk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.u-cover{
  position: relative;
  display: block;
}
.u-cover-3{
  width: 50px;
  height: 50px;
}
// 各种播放按钮图标
.u-cover .icon-headset, .u-cover .icon-play{
  display: inline-block;
}
.u-cover .icon-play{
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background-position: 0 0;
}
.u-cover-0 .icon-play, .u-cover-alb1 .icon-play, .u-cover-10 .icon-play, .u-cover-11 .icon-play, .u-cover-12 .icon-play{
  left: 72px;
  width: 22px;
  height: 22px;
  background-position: 0 -85px;
}
.u-cover-alb1 .icon-play, .u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play{
  display: none;
}
.u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play, .u-cover-9 .icon-play{
  left: 94px;
  width: 28px;
  height: 28px;
  background-position: 0 -140px;
}
.u-cover-alb2 .icon-play:hover, .u-cover-alb3 .icon-play:hover, .u-cover-9 .icon-play:hover{
  background-position: 0 -170px;
}
// 各类按钮的背景1
.u-title .u-btn-hot .a1, .u-title .u-btn-new .a2, .u-title .u-btn-area .a2, .u-title .u-btn-song .a1{
  color: #fff;
}
.u-btn{
  display: inline-block;
}
.u-title .u-btn .a1, .u-title .u-btn .a2{
  float: left;
  width: 46px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.u-btn-hot{
  height: 29px;
  background-position: 0 0;
  border-radius: 3px;
}
.u-btn-g{
  width: 75px;
  height: 26px;
  background-position: 0 -64px;
  text-align: center;
  line-height: 26px;
}
div.u-page .zbtn, div.u-page .zpgi{
  margin: 0 1px 0 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  vertical-align: middle;
}
div.u-page .zbtn{
  width: 69px;
  height: 24px;
  line-height: 24px;
  color: #333;
  text-align: left;
  padding: 0;
}
// 各类按钮的背景2
.u-btn2-1{
  color: #333;
  background-position: right -100px;
  &:hover{
    background-position: right -182px;
    i{
      background-position: 0 -141px;
    }
  }
  &:active{
    background-position: right -264px;
    i{
      background-position: 0 -223px;
    }
  }
  i{
    background-position: 0 -59px;
  }
}
// 首页私信数量样式
.m-topmsg{
  display: inline-block;
  min-width: 17px;
  height: 17px;
  padding: 0 4px;
  box-sizing: border-box;
  background: #c20c0c;
  border-radius: 18px;
  border: 1px solid #242424;
  line-height: 16px;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
// 歌单评论
.m-cmmt{
  margin: 20px 32px 0;
}
// 第一种歌曲列表眼视光hi
.m-table{
  width: 100%;
  border: 1px solid #d9d9d9;
  //标题
  .af0::after{
    content: '\6b4c \66f2 \6807 \9898';
  }
  .af1::after{
    content: '\65f6 \957f';
  }
  .af2::after{
    content: '\6b4c \624b';
  }
  .af3::after{
    content: '\4e13 \8f91';
  }
  .w1{
    width: 74px;
  }
  .w2{
    width: 111px;
  }
  .w3{
    width: 14%;
  }
  .w4{
    width: 20%;
  }
  .w2-1{
    width: 91px;
  }
  .w3-1{
    width: 26%;
  }
  // td、th、tr
  th{
    height: 38px;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    color: #666;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    &.first .wp{
      background: none;
    }
    .wp{
      height: 18px;
      line-height: 18px;
      padding: 8px 10px;
      background-position: 0 -56px;
    }
  }
  td{
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
  }
  .even td{
    background-color: #f7f7f7;
  }
  tr:hover{
    .hshow{
      display: block;
      position: relative;
      margin-right: -10px;
    }
    .u-dur{
      display: none;
    }
  }
  // mv按钮
  .mv,.icnfix{
    position: absolute;
    top: 0;
    right: 0;
  }
  .mv,.icn{
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
  }
  .mv{
    width: 23px;
    height: 17px;
    margin: 1px 0 0 0;
    background-position: 0 -151px;
    &:hover{
      background-position: -30px -151px;
    }
  }
  // 序号和播放
  .ply{
    float: left;
    width: 17px;
    height: 17px;
    background-position: 0 -103px;
    cursor: pointer;
    &:hover{
      background-position: 0 -128px;
    }
  }
  .hd{
    .ply{
      float: right;
    }
    .num{
      width: 25px;
      margin-left: 5px;
      columns: #999;
    }
  }
  .play-z-slt,.play-z-slt:hover{
    background-position: -20px -128px;
  }
  // 标题
  .tt{
    float: left;
    width: 100%;
  }
  .ttc{
    height: 18px;
    margin-right: 20px;
  }
  .txt{
    position: relative;
    display: inline-block;
    height: 20px;
    max-width: 99%;
    margin-right: -25px;
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  b{
    font-weight: normal;
  }
  // 功能按钮
  .hshow{
    display: none;
  }
  .opt{
    float: left;
  }
  .u-icn-81{
    float: left;
    margin-top: 2px;
  }
  .icn-fav{
    background-position: 0 -174px;
    &:hover{
      background-position: -20px -174px;
    }
  }
  .icn-share{
    background-position: 0 -195px;
    &:hover{
      background-position: -20px -195px;
    }
  }
  .icn-dl{
    background-position: -81px -174px;
    &:hover{
      background-position: -104px -174px;
    }
  }
  .icn-del{
    background-position: 0 -217px;
    &:hover{
      background-position: -20px -217px;
    }
  }
  // 歌手、专辑
  .text{
    width: 100%;
    position: relative;
    zoom: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a:hover{
      text-decoration: underline;
    }
  }
  // 禁用的
  .dis *{
    color: #bbb;
  }
  .dis .ply,.dis .ply:hover{
    opacity: 0.5;
    background-position: 0 -103px;
    cursor: default;
  }
  .dis .mv,.dis .mv:hover{
    background-position: -60px -151px;
    cursor: default;
  }
  .dis.z-hover .u-dur,.dis:hover .u-dur{
    display: block;
  }
  .dis.z-hover .candel,.dis:hover .candel{
    display: none;
  }
  .dis .icn-add,.dis .icn-fav,.dis .icn-share,.dis .u-icn-81,.dis .icn-dl{
    display: none;
  }
}
// 歌单头部信息样式
.m-info{
  // 歌单图片
  .cover{
    float: left;
    position: relative;
    display: inline;
    margin: 0 -220px 0 0;
  }
  img{
    height: 13px;
    width: 13px;
    display: inline-block;
    vertical-align: middle;
  }
  // 歌单右侧信息
  b{
    font-weight: normal;
    color: #666;
  }
  .cnt{
    float: right;
    width: 100%;
  }
  .cntc{
    margin-left: 230px;
  }
  // 歌单名字
  .hd{
    position: relative;
    margin: 0 0 12px;
    line-height: 24px;
    h2{
      line-height: 24px;
      font-size: 20px;
      font-weight: normal;
    }
    .type{
      position: relative;
      top: 3px;
    }
  }
  .type{
    float: left;
    margin-right: 6px;
  }
  .tit{
    margin-left: 64px;
    position: relative;
  }
  .tit3{
    margin-left: 80px;
  }
  // 我的音乐中歌单的编辑按钮
  .edit{
    float: right;
    margin-top: 1px;
    padding-left: 18px;
    line-height: 17px;
    background-position: 0 -259px;
    &:hover{
      background-position: 0 -280px;
    }
  }
  // 歌单用户、创建时间
  .user{
    margin: 0 0 20px;
    line-height: 35px;
    .face,.face img{
      float: left;
      width: 35px;
      height: 35px;
    }
    .face{
      margin-right: 10px;
    }
    .name{
      float: left;
      a:hover{
        text-decoration: underline;
      }
    }
    .time{
      margin-left: 15px;
    }
  }
  // 歌单标签
  .tags{
    margin: 25px 0 5px;
    line-height: 22px;
    b{
      float: left;
    }
    .u-tag{
      float: left;
      margin: 0 10px 3px 0;
      color: #777;
    }
  }
  // 歌单介绍
  .intr{
    margin-top: 4px;
    line-height: 18px;
    color: #666;
    b{
      display: inline-block;
    }
  }
}
.u-cover{
  position: relative;
  display: block;
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .msk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// 歌曲头部信息
.m-lycifo{
  margin-top: -10px;
  // 歌曲图片
  .cvrwrap{
    float: left;
    width: 206px;
    margin-right: -226px;
    .out{
      float: left;
      margin: 20px 0 0 46px;
    }
    .des{
      text-decoration: underline;
    }
  }
  // 歌曲信息
  .cnt{
    float: right;
    width: 414px;
  }
  .hd{
    .lab{
      float: left;
    }
  }
  .tit{
    position: relative;
    top: -6px;
    font-size: 24px;
    margin-left: 64px;
    *{
      vertical-align: middle;
    }
    em{
      margin-right: 7px;
    }
  }
  .subtit{
    margin: 1px 0 5px;
    color: #bababa;
  }
  .des{
    margin: 10px 0;
    span{
      color: #333;
    }
  }
  .bd{
    height: 299px;
    margin-top: 13px;
    line-height: 23px;
  }
  .bd-open{
    height: auto;
  }
  .crl{
    margin-top: 5px;
  }
  // 报错
  .lrc-user{
    text-align: right;
    margin-top: 48px;
    line-height: 30px;
  }
}
.u-icn-37{
  width: 54px;
  height: 24px;
  background-position: 0 -463px;
}
.u-icn-2{
  width: 21px;
  height: 18px;
  background-position: 0 -18px;
}
// 歌单标签+icon图标
.u-tag, .u-tag i{
  float: left;
  height: 22px;
  line-height: 22px;
}
.u-tag{
  padding: 0 10px 0 0;
  text-shadow: 0 1px #fdfdfd;
  background-position: right -27px;
  columns: #777;
  &:hover{
    background-position: right -1430px;
    i{
      background-position: 0 -1400px;
    }
  }
  i{
    position: relative;
    zoom: 1;
    padding: 0 3px 0 13px;
    background-position: 0 0;
  }
}
.u-icn-13{
  width: 54px;
  height: 24px;
  background-position: 0 -243px;
}
.u-icn2-jp1{
  width: 72px;
  height: 24px;
  background-position: -110px -275px;
  margin-right: 10px;
}
.u-icn2-jp2{
  width: 50px;
  height: 50px;
  background-position: -80px -220px;
}
.u-cover-dj{
  width: 200px;
  height: 200px;
  .msk{
    width: 208px;
    height: 208px;
    background-position: 0 -1285px;
    top: -4px;
    left: -4px;
  }
}
.u-icn-69,.u-icn-70{
  width: 11px;
  height: 8px;
  background-position: -65px -520px;
}
.u-icn-70{
  background-position: -45px -520px;
}
// 我的音乐中的我订阅的电台
.u-cover{
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.u-bub{
  display: block;
  position: relative;
  zoom: 1;
  width: 22px;
  height: 22px;
  color: #fff;
  text-align: center;
  line-height: 23px;
  font-weight: bold;
  b{
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: url('@/assets/icons//bub.png') no-repeat;
  }
  em{
    float: none;
    display: block;
    position: relative;
    text-align: center;
    z-index: 2;
  }
}
.u-icn2-share, .u-icn2-fav, .u-icn2-del{
  width: 16px;
  height: 14px;
  background-position: -90px 0;
}
.u-icn2-share{
  &:hover{
    background-position: -90px -20px;
  }
}
.u-icn2-del{
  background-position: -130px 0;
  &:hover{
    background-position: -130px -20px;
  }
}
// 我的音乐中的我的视频
.u-msk{
  display: inline-block;
}
.u-msk-1{
  width: 90px;
  height: 20px;
  background-position: 0 0;
}
.u-msk-2{
  width: 159px;
  height: 25px;
  background-position: 0 -25px;
}
.u-icn2-mv{
  width: 15px;
  height: 10px;
  background-position: -60px -310px;
}
// 歌曲控制台
.m-playbar .btns, .m-playbar .head, .m-playbar .play, .m-playbar .volum, .m-playbar .oper{
  float: left;
}
.m-pbar, .m-pbar .barbg{
  width: 466px;
}
.m-pbar{
  position: relative;
  .barbg,.cur,.rdy{
    height: 9px;
    background-position: right 0;
  }
  .rdy{
    background-position: right -30px;
  }
  .cur{
    position: absolute;
    top: 0;
    left: 0;
    background-position: left -66px;
  }
  .btn{
    position: absolute;
    top: -7px;
    right: -13px;
    width: 22px;
    height: 24px;
    margin-left: -11px;
    background-position: 0 -250px;
    &:hover{
      background-position: 0 -280px;
    }
    i{
      visibility: hidden;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 12px;
      height: 12px;
      background: url('../icons/loading.gif');
    }
  }
  .z-load i{
    visibility: visible;
    cursor: default;
  }
}
// 歌单信息右侧的喜欢这个歌单的人a
.m-piclist{
  margin-left: -13px;
  padding-bottom: 25px;
  li,li img{
    float: left;
    width: 40px;
    height: 40px;
  }
  li{
    display: inline;
    padding: 0 0 13px 13px;
  }
}
// 单曲、歌单信息右侧的热门歌单或者相似歌单
.m-rctlist{
  margin-bottom: 25px;
  li{
    float: left;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    line-height: 24px;
  }
  .cver,.cver img{
    float: left;
    width: 50px;
    height: 50px;
  }
  .cver{
    margin-right: -60px;
  }
  .info{
    margin-left: 60px;
    line-height: 24px;
    a:hover{
      text-decoration: underline;
    }
    p{
      width: 140px;
      img{
        display: inline-block;
        width: 13px;
        height: 13px;
        vertical-align: middle;
      }
    }
  }
  .by{
    float: left;
  }
  .nm{
    float: left;
    max-width: 106px;
    margin: 0 2px 0 4px;
  }
}
// 单曲信息右侧的相似歌曲
.m-sglist{
  li{
    margin-top: 10px;
  }
  .txt{
    float: left;
    width: 156px;
    line-height: 16px;
  }
  .opr{
    float: right;
    position: relative;
    top: 10px;
    line-height: 32px;
    a{
      float: left;
      width: 10px;
      height: 11px;
      background: url('../icons/icon2.png') no-repeat -9999px -9999px;
      opacity: .9;
    }
    .play{
      margin-right: 16px;
      background-position: -69px -455px;
    }
    .add{
      background-position: -87px -455px;
    }
  }
}
