// 自己的重置样式代码
*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
  font-size: 12px;
}
body{
  height: 100%;
  color: #333;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  background: #f5f5f5;
}
ul,
h1,
h3,
h4,
p,
dl,
dd {
  font-size: 12px;
  padding: 0;
  margin: 0;
  user-select: text;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: 100%;
}
a{
  text-decoration: none;
  color: #333;
  outline: none;
}
em,
i{
  font-style: normal;
  text-align: left;
  font-size: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"]{
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: auto;
  appearance: auto;
  &::placeholder{
    color: #ccc;
  }
}
input[type="password"]::-ms-reveal{
  display:none;
}
[hidefocus]{
  outline: none;
}
img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
img, .txt{
  border: 0;
}
ul{
  list-style: none;
}
li {
  list-style: none;
}
#app{
  position: relative;
  width: 100%;
  height: 100%;
  // user-select: none;
}
.container{
  width: 980px;
  min-width: 980px;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
  zoom: 1;
}
.pa {
  position: absolute;
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.f-hide{
  display: none!important;
}
.f-thide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.f-brk{
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
// 
.g-wrap{
  padding: 40px;
}
.g-wrap12{
  padding: 0 30px 40px 40px;
}
.n-pglg, .n-pglg .btn{
  background: url('@/assets/icons/mymusic.png') no-repeat 0 9999px;
}
.n-pglg{
  width: 807px;
  height: 268px;
  margin: 0 auto 0;
  padding-top: 104px;
  background-position: 0 104px;
  h2{
    height: 100px;
    text-indent: -9999px;
  }
  .btn{
    display: block;
    width: 167px;
    height: 45px;
    margin: 102px 0 0 482px;
    background-position: 0 9999px;
    text-indent: -9999px;
    &:hover{
      background-position: 0 -278px;
    }
  }
}
.n-pglg2, .n-pglg2 .btn{
  background: url('@/assets/icons/notlogin.jpg') no-repeat center 0;
}
.n-pglg2{
  width: 902px;
  height: 414px;
  margin: 0 auto 0;
  padding-top: 70px;
  background-position: 0 70px;
  .welc{
    padding: 178px 0 0 535px;
    line-height: 23px;
  }
  .btn{
    display: block;
    width: 157px;
    height: 48px;
    margin: 36px 0 0 535px;
    background-position: 0 9999px;
    text-indent: -9999px;
    &:hover{
      background-position: 0 -430px;
    }
  }
}
// 版心和背景
.g-bd, .g-bd1, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7{
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
}
.g-bd1{
  background: url('@/assets/icons/wrap1.png') repeat-y 100% 100%;
}
.g-bd3{
  background: url('@/assets/icons/wrap3.png') repeat-y center 0;
}
// 列表篇相同样式
.m-cvrlst{
  li{
    float: left;
    display: block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1.4;
    a:hover{
      text-decoration: underline;
    }
    p{
      width: 100%;
    }
    .dec{
      margin: 8px 0 3px;
      font-size: 14px;
    }
    .tit{
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
    .nm{
      display: inline-block;
      max-width: 85%;
      vertical-align: middle;
    }
  }
  .msk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .icon-play{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
  }
}
.u-cover-alb1 .icon-play, .u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play{
  display: none;
}
.u-cover-alb1:hover .icon-play, .u-cover-alb2:hover .icon-play, .u-cover-alb3:hover .icon-play{
  display: block;
}
// 头部标题
.u-title{
  height: 40px;
  border-bottom: 2px solid #c20c0c;
  h3{
    float: left;
    font-size: 24px;
    font-weight: normal;
  }
  .sub{
    float: left;
    margin: 13px 0 0 10px;
  }
  .more{
    float: right;
    margin-top: 14px;
  }
  .tab{
    float: left;
    margin: 12px 0 0 20px;
    a:hover{
      text-decoration: underline;
    }
    .line{
      margin: 0 10px;
      color: #c7c7c7;
    }
  }
}
// 头部一级导航的相同样式
.m-nav li, .m-nav li span, .m-nav a, .m-nav a em{
  float: left;
  height: 70px;
  font-size: 14px;
}
// 头部二级导航的相同样式
.m-subnav .nav li, .m-subnav .nav a{
  float: left;
  height: 34px;
  text-align: center;
}
// 头部搜索框相同样式
.m-srch, .m-srch .srchbg{
  float: right;
  width: 158px;
  height: 32px;
}
// 底部主要内容盒子
.m-ft{
  width: 980px;
  margin: 0 auto;
}
// 字体样式和颜色
.s-fc0{
  color: #000;
}
.s-fc3{
  color: #666;
}
.s-fc4{
  color: #999;
}
.s-fc6{
  color: #c20c0c;
}
.s-fc7{
  color: #0c73c2;
}
.s-fc8{
  color: #aeaeae;
}
.s-fc9{
  color: #bb2128;
}
.s-fc10{
  color: #d33a31;
}
.f-ff1{
  font-family: simsun,\5b8b\4f53;
}
.f-ff2{
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.f-fs1{
  font-size: 14px;
}
// 回到顶部
.m-back{
  background: url('@/assets/icons/sprite.png') no-repeat 0 9999px;
}
// 头部icons精灵图
.m-top .logo,
.m-top .cor,
.m-tophead,
.m-topvd,
.m-srch .srchbg{
  background: url('@/assets/icons/topbar.png') no-repeat 0 9999px;
}
.m-top .logo, .m-nav .cor, .m-nav .hot, .m-srch .srchbg, .m-mail, .m-tophead, .m-topvd{
  background: url('@/assets/icons/topbar.png') no-repeat 0 9999px;
}
// .u-icn、.u-icn2、.u-icn3的相同样式
.u-icn, .u-icn2, .u-icn3{
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
// 第一个大icon
.u-icn,
.u-title-1 .out .icon{
  background: url('@/assets/icons/icon.png') no-repeat 0 9999px;
}
.u-icn-6{
  width: 24px;
  height: 24px;
  background-position: 0 -60px;
}
.u-icn-7{
  width: 24px;
  height: 24px;
  background-position: 0 -88px;
}
.u-icn-8{
  width: 24px;
  height: 24px;
  background-position: 0 -117px;
}
.u-icn-9{
  width: 24px;
  height: 24px;
  background-position: 0 -141px;
}
.u-icn-26, .u-icn-27, .u-icn-28, .u-icn-29{
  width: 14px;
  height: 15px;
  background-position: -35px -300px;
}
.u-icn-27{
  background-position: -50px -300px;
}
.u-icn-28{
  background-position: -35px -320px;
}
.u-icn-29{
  background-position: -50px -320px;
}
.u-icn-38{
  width: 8px;
  height: 5px;
  background-position: -70px -543px;
}
.u-icn-53{
  width: 35px;
  height: 15px;
  background-position: -31px -658px;
}
.u-icn-57{
  width: 13px;
  height: 13px;
  background-position: -18px -682px;
}
.u-icn-71{
  width: 23px;
  height: 23px;
  background-position: -20px -735px;
}
.u-icn-72, .u-icn-73, .u-icn-74{
  background-position: -74px -268px;
}
.u-icn-73{
  background-position: -74px -299px;
}
.u-icn-74{
  background-position: -74px -318px;
}
.u-icn-75{
  width: 16px;
  height: 17px;
  background-position: -67px -283px;
}
.u-icn-81{
  width: 13px;
  height: 13px;
  background-position: 0 -700px;
  &:hover{
    background-position: -22px -700px;
  }
}
// 第二个大icon
.u-icn2{
  background: url('@/assets/icons/icon2.png') no-repeat 0 9999px;
}
.u-icn2-jp3{
  width: 40px;
  height: 40px;
  background-position: -135px -220px;
}
.u-icn-lv{
  background-position: -130px -64px;
}
.u-icn-lvright{
  width: 8px;
  height: 17px;
  background-position: -192px -64px;
}
// 轮播图下载客户端icon
.n-ban .download, .n-ban .download .btn{
  background: url('@/assets/icons/download.png') no-repeat 0 0;
}
// 轮播图的左右耳朵、下载阴影、小圆点的icon
.n-ban .shadow, .n-ban .shadowr, .n-ban .ban .btnl, .n-ban .ban .btnr, .n-ban .dots .pg{
  background: url('@/assets/icons/download_shadow.png') no-repeat 0 9999px;
}
// 一些小icon
.s-bg, .v-hd2, .n-disk li{
  background: url('@/assets/icons/index.png') no-repeat 0 9999px;
}
.s-bg-1{
  background-position: 0 0;
}
.s-bg-2{
  background-position: 0 -195px;
  &:hover{
    background-position: -110px -195px;
  }
}
.s-bg-5{
  background-position: 0 -270px;
}
.s-bg-6{
  background-position: 0 -240px;
}
.s-bg-7{
  background-position: -260px -75px;
  &:hover{
    background-position: -280px -75px;
  }
}
.s-bg-8{
  background-position: -300px -75px;
  &:hover{
    background-position: -320px -75px;
  }
}
.s-bg-9{
  background-position: -267px -205px;
  &:hover{
    background-position: -267px -235px;
  }
}
.s-bg-10{
  background-position: -300px -205px;
  &:hover{
    background-position: -300px -235px;
  }
}
.s-bg-11{
  background-position: -267px -268px;
  &:hover{
    background-position: -267px -288px;
  }
}
.s-bg-12{
  background-position: -297px -268px;
  &:hover{
    background-position: -297px -288px;
  }
}
.s-bg-13{
  background-position: 0 -130px;
  color: #666;
  &:hover{
    background-position: -70px -130px;
    color: #333;
  }
}
// 所有的遮罩层
.u-cover .bottom, .u-cover .msk, .n-musicsd .lst .avatar .msk{
  background: url('@/assets/icons/coverall.png') no-repeat 0 9999px;
}
.u-cover .msk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.u-cover{
  position: relative;
  display: block;
}
.u-cover-4{
  width: 80px;
  height: 80px;
}
.u-cover-4 .msk{
  background-position: -145px -57px;
}
// 各种播放按钮图标
.u-cover .ply, .u-cover .icon-headset, .u-cover .icon-play, .u-face .msk, .n-note .head .msk, .icn-vip, .icn-daren, .u-checkbox{
  background: url('@/assets/icons/iconall.png') no-repeat;
}
.u-cover .icon-headset, .u-cover .icon-play{
  display: inline-block;
}
.u-cover .icon-play{
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background-position: 0 0;
}
.u-cover-0 .icon-play, .u-cover-alb1 .icon-play, .u-cover-10 .icon-play, .u-cover-11 .icon-play, .u-cover-12 .icon-play{
  left: 72px;
  width: 22px;
  height: 22px;
  background-position: 0 -85px;
}
.u-cover-alb1 .icon-play, .u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play{
  display: none;
}
.u-cover-alb2 .icon-play, .u-cover-alb3 .icon-play, .u-cover-9 .icon-play{
  left: 94px;
  width: 28px;
  height: 28px;
  background-position: 0 -140px;
}
.u-cover-alb2 .icon-play:hover, .u-cover-alb3 .icon-play:hover, .u-cover-9 .icon-play:hover{
  background-position: 0 -170px;
}
// 首页榜单
.n-bilst{
  background: url('@/assets/icons/index_bill.png') no-repeat;
}
// 各类按钮的背景1
.u-btn, div.u-page a, div.u-page a.js-selected, div.u-page a.znxt.js-disabled, div.u-page a.zprv.js-disabled{
  background: url('@/assets/icons/button.png') no-repeat 0 9999px;
}
.u-title .u-btn-hot .a1, .u-title .u-btn-new .a2, .u-title .u-btn-area .a2, .u-title .u-btn-song .a1{
  color: #fff;
}
.u-btn{
  display: inline-block;
}
.u-title .u-btn .a1, .u-title .u-btn .a2{
  float: left;
  width: 46px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.u-btn-hot{
  height: 29px;
  background-position: 0 0;
  border-radius: 3px;
}
.u-btn-g{
  width: 75px;
  height: 26px;
  background-position: 0 -64px;
  text-align: center;
  line-height: 26px;
}
div.u-page .zbtn, div.u-page .zpgi{
  margin: 0 1px 0 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  vertical-align: middle;
}
div.u-page .zbtn{
  width: 69px;
  height: 24px;
  line-height: 24px;
  color: #333;
  text-align: left;
  padding: 0;
}
// 各类按钮的背景2
.u-btn2, .u-btn2 i, .u-btn2 .icn, .u-btni, .u-btni i, .u-tag, .u-tag i, .u-btni-addply .ply{
  background: url('@/assets/icons/button2.png') no-repeat 0 9999px;
}
.u-btn2{
  padding: 0 5px 0 0;
  white-space: nowrap;
  i{
    padding: 0 15px 0 20px;
  }
}
.u-btn2, .u-btn2 i{
  display: inline-block;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}
.u-btni, .u-btni i{
  float: left;
  height: 31px;
  line-height: 30px;
  min-width: 23px;
  cursor: pointer;
}
.u-btn2-1{
  color: #333;
  background-position: right -100px;
  &:hover{
    background-position: right -182px;
    i{
      background-position: 0 -141px;
    }
  }
  &:active{
    background-position: right -264px;
    i{
      background-position: 0 -223px;
    }
  }
  i{
    background-position: 0 -59px;
  }
}
.u-btn2-2{
  color: #fff;
  background-position: right -428px;
  &:hover{
    background-position: right -510px;
    i{
      background-position: 0 -469px;
    }
  }
  &:active{
    color: #fff;
    background-position: right -592px;
    i{
      background-position: 0 -551px;
    }
    .ply{
      background-position: -56px -1622px!important;
    }
  }
  i{
    color: #fff;
    background-position: 0 -387px;
  }
}
.u-btni{
  padding: 0 5px 0 0;
  white-space: nowrap;
  color: #333;
  i{
    padding: 0 7px 0 36px;
  }
}
.u-btni-add{
  width: 31px;
  margin-left: -3px;
  padding-right: 0;
  background-position: 0 -1588px;
  &:hover{
    background-position: -40px -1588px;
  }
  &:active{
    background-position: -80px -1588px;
  }
}
.u-btni-share, .u-btni-fav, .u-btni-cmmt, .u-btni-dl{
  background-position: right -1020px;
  &:hover{
    background-position: right -1106px;
  }
  i{
    padding-right: 2px;
    padding-left: 28px;
  }
}
// 个性化推荐的日历
.u-date, .u-date .mask{
  background: url('@/assets/icons/date.png') no-repeat 0 9999px;
}
// 首页用户登陆后的下拉列表icon
.m-tlist .icn, .m-tlist .arr{
  background: url('@/assets/icons/toplist.png') no-repeat 0 9999px;
}
// 首页私信数量样式
.m-topmsg{
  display: inline-block;
  min-width: 17px;
  height: 17px;
  padding: 0 4px;
  box-sizing: border-box;
  background: #c20c0c;
  border-radius: 18px;
  border: 1px solid #242424;
  line-height: 16px;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
// 歌曲列表的icon
.m-table th, .m-table th .wp, .m-table td, .m-table .ply, .m-table .mv, .m-table .icn, .m-info .edit{
  background: url('@/assets/icons/table.png') no-repeat 0 9999px;
}
.m-table{
  width: 100%;
  border: 1px solid #d9d9d9;
  .mv,.icnfix{
    position: absolute;
    top: 0;
    right: 0;
  }
  .mv,.icn{
    float: left;
    width: 18px;
    height: 16px;
    margin: 2px 0 0 4px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
  }
  th{
    height: 38px;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    color: #666;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    .wp{
      height: 18px;
      line-height: 18px;
      padding: 8px 10px;
      background-position: 0 -56px;
    }
  }
  td{
    padding: 6px 10px;
    line-height: 18px;
    text-align: left;
  }
  .ply{
    float: left;
    width: 17px;
    height: 17px;
    background-position: 0 -103px;
    cursor: pointer;
    &:hover{
      background-position: 0 -128px;
    }
  }
  .txt{
    position: relative;
    display: inline-block;
    height: 20px;
    margin-right: -25px;
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  b{
    font-weight: normal;
  }
  .w1{
    width: 74px;
  }
  .w2-1{
    width: 91px;
  }
  .w3-1{
    width: 26%;
  }
  .hshow{
    display: none;
  }
  .opt{
    float: left;
  }
  .text{
    width: 100%;
    position: relative;
    zoom: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a:hover{
      text-decoration: underline;
    }
  }
  .icn-fav{
    background-position: 0 -174px;
    &:hover{
      background-position: -20px -174px;
    }
  }
  .icn-share{
    background-position: 0 -195px;
    &:hover{
      background-position: -20px -195px;
    }
  }
  .icn-dl{
    background-position: -81px -174px;
    &:hover{
      background-position: -104px -174px;
    }
  }
  .mv{
    width: 23px;
    height: 17px;
    margin: 1px 0 0 0;
    background-position: 0 -151px;
    &:hover{
      background-position: -30px -151px;
    }
  }
}
// 歌单的风格分类
.n-sltlyr .hd, .n-sltlyr .bd, .n-sltlyr .ft{
  background: url('@/assets/icons/sltlyr.png') no-repeat;
}
.n-sltlyr .icn, .n-mvlist .mvpic .btn, .n-artist .btn-rz, .n-artist .btnfav{
  background: url('@/assets/icons/iconall.png') no-repeat;
}